.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature__list {
  display: flex;
  align-items: center;
}

.feature__item {
  width: 270px;
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__card {
  display: flex;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
}
.feature__icon {
  border-radius: 4px;
}

.feature__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  padding-bottom: 10px;
}
.feature__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
